nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline;
}

nav ul li + li:before {
  content: '/';
  padding: 0 0.5em;
}

nav a {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom-color: var(--nc-ac-tx);
}

#amountSelector {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

#amountShow {
  white-space: nowrap;
  background-color: var(--nc-bg-2);
  padding: 0.2em 0.5em;
}

#levels {
  list-style: none;
}

#amount {
  margin: 0 1em;
  padding: 0;
}

#progress {
  margin: 0 0.5em;
}

#generate {
  color: var(--nc-tx-2);
  background-color: var(--nc-bg-3);
  padding: 0.5em 1em;
}
