{{- if .Site.Params.footer.text }}
<footer>
  {{ .Site.Params.footer.text }}
{{- if and (.Site.Params.footer.name) (.Site.Params.footer.link)  }}
  <a href="{{ .Site.Params.footer.link }}">{{ .Site.Params.footer.name }}</a>
{{- end }}.
</footer>
{{- end }}
