<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#2c3e50">
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
<meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
<meta name="keywords" content="{{ with .Site.Params.keywords }}{{ . }}{{ end }}">
<meta name="url" content="{{ with .Site.BaseURL }}{{ . }}{{ end }}" itemprop="url">
<meta property="og:title" content="{{ with .Site.Title }}{{ . }}{{ end }}">
<meta property="og:url" content="{{ with .Site.BaseURL }}{{ . }}{{ end }}">
<meta property="og:description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
<meta property="og:image" content="{{ with .Site.Params.og_image }}{{ . }}{{ end }}">
{{- if .Site.Params.favicon }}
{{ "<!-- Custom Icon -->" | safeHTML }}
<link rel="shortcut icon" href="{{ .Site.Params.favicon | absURL }}" />
{{- end }}
{{ "<!-- new.css: https://newcss.net -->" | safeHTML }}
<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css" />
{{ "<!-- Open Sudoku Custom CSS -->" | safeHTML }}
<link rel="stylesheet" href="{{ "css/opensudoku.css" | absURL }}" />
