<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
    <title>{{if not .IsHome }}{{ .Title }} &ndash; {{ end }}{{ .Site.Title }}</title>
  </head>
  <body>
    <header>
      {{ partial "header.html" . }}
    </header>
    <p><strong>Ooops!</strong> Sorry, this page does not exist.</p>
    <a href="{{ with .Site.GetPage "/" }}{{ .RelPermalink }}{{end}}">Back to home</a>
    <hr />
    {{ partial "footer.html" . }}
    <script src="{{ "js/filesaver.min.js" | absURL }}"></script>
    <script src="{{ "js/opensudoku.js" | absURL }}"></script>
  </body>
</html>
