<!DOCTYPE html>
<html>
  <head>
    {{- partial "head.html" . -}}
    <title>{{if not .IsHome }}{{ .Title }} &ndash; {{ end }}{{ .Site.Title }}</title>
  </head>
  <body>
    <header>
      {{- partial "header.html" . -}}
    </header>
    <div>
      {{- block "main" . }}{{- end }}
    </div>
    <hr />
    {{- partial "footer.html" . -}}
  </body>
</html>
