<form id="generatePuzzles">
  <div id="amountSelector">
    <label for="amount">Number of puzzles</label>
    <input type="range" min="10" max="100" value="20" id="amount" step="10" oninput="generateAmountUpdate(value)">
    <span for="amount" id="amountShow">20</span>
  </div>
  <div id="levelSelector">
    <label for="levels">Select level</label>
    <ul id="levels">
      <li><input type="radio" id="easy" name="level" value="easy" checked> <label for="easy">Easy</label></li>
      <li><input type="radio" id="medium" name="level" value="medium"> <label for="medium">Medium</label></li>
      <li><input type="radio" id="hard" name="level" value="hard"> <label for="hard">Hard</label></li>
      <li><input type="radio" id="veryhard" name="level" value="veryhard"> <label for="veryhard">Very Hard</label></li>
    </ul>
  </div>
  <a id="generate" href="#generated-puzzles">Generate</a>
</form>

<p id="progressDisplay" style="display:none">
  <label for="progress">Puzzles generation in progress...</label>
  <progress id="progress" max="20" value="0"></progress>
</p>
